<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Listado de familiares con Django</title>
    <style>
        td {
            background-color: #d9d9d9;
            font-weight: bold;
        }
        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Listado de la base de datos</h1>
    <table class="table table-bordered">
        <thead class="bg-primary">
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Telefono</th>
            <th>Fecha de nacimiento</th>
        </thead>
        <tbody>
            {%for lista in lista_familiares %}
                <tr>
                    <td>{{lista.nombre}}</td>
                    <td>{{lista.apellidos}}</td>
                    <td>{{lista.telefono}}</td>
                    <td>{{lista.fecha_nac}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>    
</body>
</html>